/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
  font-size: large;
}
  
/* 
  * Optional: Makes the sample page fill the window. 
  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hide{
  visibility: hidden;
}

@keyframes funni {
  0%   {background-color: #A1CCD1;}
  33%  {background-color: #F4F2DE;}
  66%  {background-color: #E9B384;}
  100% {background-color: #7C9D96;}
}

.loading-text {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  margin: 10px;
  padding: 0.8em;
  font: 400 14px Roboto, Arial, sans-serif;
  overflow: hidden;
  animation-name: funni;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.screen{
  width: 390px;
  height: 844px;
}

.v8_263 {
  width: 390px;
  height: 844px;
  background: rgba(244,242,222,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.report{
  position: fixed;
  bottom:15px;
  left:15px;
  z-index: 10;
}

.profile{
  padding:0;
  background-color:#7C9D96;
  border-radius: 50%; 
  position: fixed;
  bottom:15px;
  left: 105px;
  z-index: 10;
}

.profile img{
  display:block;
}

.login{
  width:75px;
  height:75px;
  text-align:center;
  vertical-align: bottom;
  background-color:#7C9D96;
  border-radius: 50%;
  position:fixed;
  bottom:15px;
  left:15px;
  z-index: 10;
}

.login img{
  position:absolute;
  top:10px;
  left:12.5px;
}

a:hover {
  filter:brightness(80%);
}