* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v8_253 {
    width: 390px;
    height: 844px;
    background: rgba(244,242,222,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v8_316 {
    width: 390px;
    height: 778px;
    background: rgba(124,157,150,1);
    opacity: 1;
    position: absolute;
    top: 75px;
    left: 0px;
  }
  .v8_261 {
    width: 390px;
    height: 59px;
    border-radius: 20px;
    background: rgba(124,157,150,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 0px;
  }

  .x-container{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 15px;
    
  }
  .x-button{
    width: 2px;
    height: 25px;
    background-color: #ffffff;
    transform: rotate(45deg);
    border-radius: 2px 2px 2px 2px;
  }
  .x-button:after{
    content:"";
    width: 2px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 2px 2px 2px 2px;
    position: absolute;
    transform: rotate(-90deg);
  
  }
  
  .v8_306 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 341px;
    left: 120px;
    font-family: Inter;
    font-weight: bolder;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v8_310 {
    width: 77px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 384px;
    left: 20px;
    font-family: Inter;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v9_519 {
    width: 150px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 600px;
    left: 147px;
    font-family: Inter;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v8_311 {
    width: 73px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 462px;
    left: 21px;
    font-family: Inter;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .username {
    border:none;
    width: 357px;
    height: 34px;
    background: rgba(244,232,222,1);
    opacity: 1;
    position: absolute;
    top: 405px;
    left: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
  }
  .password {
    border:none;
    width: 357px;
    height: 34px;
    background: rgba(244,232,222,1);
    opacity: 1;
    position: absolute;
    top: 483px;
    left: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
  }
  .v8_309 {
    width: 150px;
    height: 150px;
    background: url("../images/v8_309.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 191px;
    left: 120px;
    overflow: hidden;
  }
  .register {
    border:none;
    font-family: Inter;
    font-weight: bolder;
    font-size: 14px;
    color: rgba(244,232,222,1);
    width: 100px;
    height: 27px;
    background: rgba(255,141,160,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 630px;
    left: 145px;
    overflow: hidden;
  }
  .login {
    background: rgba(255,141,160,1);
    border:none;
    border-radius: 10px;
    font-family: Inter;
    font-weight: bolder;
    font-size: 14px;
    color: rgba(244,232,222,1);
    width: 84px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 561px;
    left: 153px;
    overflow: hidden;
  }
  .v8_314 {
    font-family: Inter;
    font-weight: bolder;
    font-size: 14px;
    width: 84px;
    height: 27px;
    background: rgba(255,141,160,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v8_315 {
    width: 44px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5px;
    left: 20px;
    opacity: 1;
    text-align: left;
  }
  .v8_268 {
    width: 81px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 73px;
    left: 18px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  