input {
    color: #626262;
    font-family: Inter;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    border:none;
}

input:focus{
    border:1px #626262;
}

button {
    background-color: #ff8da0;
    text-align: center;
}

button:hover {
    background-color: #df6c7f;
}