* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v8_273 {
  width: 390px;
  height: 844px;
  background: rgba(244,242,222,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_276 {
  width: 390px;
  height: 789px;
  background: rgba(124,157,150,1);
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  border-radius: 20px 20px 0 0;
}
.v14_83 {
  text-align: center;
  width: 99px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 251px;
  left: 149px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
}
.v14_82 {
  width: 125px;
  height: 125px;
  background: url("../images/v14_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 132px;
  overflow: hidden;
}
.v8_277 {
  width: 390px;
  height: 59px;
  background: rgba(124,157,150,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  border-radius: 20px 20px 0 0;
}

.x-container{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 15px;
  
}
.x-button{
  width: 2px;
  height: 25px;
  background-color: #ffffff;
  transform: rotate(45deg);
  border-radius: 2px 2px 2px 2px;
}
.x-button:after{
  content:"";
  width: 2px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 2px 2px 2px 2px;
  position: absolute;
  transform: rotate(-90deg);

}



.v8_278 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 73px;
  left: 18px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v14_86 {
  width: 357px;
  height: 34px;
  background: rgba(100,131,125,1);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v14_129 {
  width: 357px;
  height: 182px;
  background: rgba(100,131,125,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v14_200 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 19px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_203 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 196px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_204 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 19px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_205 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 196px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_206 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 19px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_207 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 196px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_208 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 19px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_209 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 196px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_210 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 19px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_211 {
  width: 173px;
  height: 25px;
  background: rgba(112,144,137,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 196px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v14_88 {
  width: 357px;
  height: 266px;
  background: rgba(100,131,125,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v14_125 {
  width: 357px;
  height: 29px;
  background: rgba(82,112,106,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 16px;
  border-radius: 10px 10px 0 0;
}
.v14_130 {
  width: 357px;
  height: 29px;
  background: rgba(82,112,106,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 16px;
  border-radius: 10px 10px 0 0;
}
.v14_90 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 33px;
  border-radius: 50%;
}
.v14_91 {
  width: 35px;
  height: 35px;
  background: rgba(248,163,89,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 81px;
  border-radius: 50%;
}
.v14_92 {
  width: 35px;
  height: 35px;
  background: rgba(255,134,30,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 129px;
  border-radius: 50%;
}
.v14_93 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 177px;
  border-radius: 50%;
}
.v14_94 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 225px;
  border-radius: 50%;
}
.v14_95 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 273px;
  border-radius: 50%;
}
.v14_96 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 321px;
  border-radius: 50%;
}
.v14_97 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 33px;
  border-radius: 50%;
}
.v14_98 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 81px;
  border-radius: 50%;
}
.v14_99 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 129px;
  border-radius: 50%;
}
.v14_100 {
  width: 35px;
  height: 35px;
  background: rgba(248,163,89,1);
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 177px;
  border-radius: 50%;
}
.v14_101 {
  width: 35px;
  height: 35px;
  background: rgba(248,163,89,1);
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 225px;
  border-radius: 50%;
}
.v14_102 {
  width: 35px;
  height: 35px;
  background: rgba(248,163,89,1);
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 273px;
  border-radius: 50%;
}
.v14_103 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 321px;
  border-radius: 50%;
}
.v14_104 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 33px;
  border-radius: 50%;
}
.v14_105 {
  width: 35px;
  height: 35px;
  background: rgba(183,171,162,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 81px;
  border-radius: 50%;
}
.v14_106 {
  width: 35px;
  height: 35px;
  background: rgba(182,171,161,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 129px;
  border-radius: 50%;
}
.v14_107 {
  width: 35px;
  height: 35px;
  background: rgba(182,171,161,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 177px;
  border-radius: 50%;
}
.v14_108 {
  width: 35px;
  height: 35px;
  background: rgba(182,171,161,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 225px;
  border-radius: 50%;
}
.v14_109 {
  width: 35px;
  height: 35px;
  background: rgba(182,171,161,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 273px;
  border-radius: 50%;
}
.v14_110 {
  width: 35px;
  height: 35px;
  background: rgba(182,171,161,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 321px;
  border-radius: 50%;
}
.v14_118 {
  width: 35px;
  height: 35px;
  background: rgba(248,163,89,1);
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 33px;
  border-radius: 50%;
}
.v14_119 {
  width: 35px;
  height: 35px;
  background: rgba(248,163,89,1);
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 81px;
  border-radius: 50%;
}
.v14_120 {
  width: 35px;
  height: 35px;
  background: rgba(248,163,89,1);
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 129px;
  border-radius: 50%;
}
.v14_121 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 177px;
  border-radius: 50%;
}
.v14_122 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 225px;
  border-radius: 50%;
}
.v14_123 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 273px;
  border-radius: 50%;
}
.v14_124 {
  width: 35px;
  height: 35px;
  background: rgba(255,195,143,1);
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 321px;
  border-radius: 50%;
}
.v14_111 {
  width: 35px;
  height: 35px;
  background: rgba(182,171,161,1);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 33px;
  border-radius: 50%;
}
.v14_112 {
  width: 35px;
  height: 35px;
  background: rgba(182,171,161,1);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 81px;
  border-radius: 50%;
}
.v14_113 {
  width: 35px;
  height: 35px;
  background: rgba(182,171,161,1);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 129px;
  border-radius: 50%;
}
.v14_114 {
  width: 35px;
  height: 35px;
  background: rgba(183,171,162,1);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 177px;
  border-radius: 50%;
}
.v14_115 {
  width: 35px;
  height: 35px;
  background: rgba(183,171,162,1);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 225px;
  border-radius: 50%;
}
.v14_116 {
  width: 35px;
  height: 35px;
  background: rgba(183,171,162,1);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 273px;
  border-radius: 50%;
}
.v14_117 {
  width: 35px;
  height: 35px;
  background: rgba(183,171,162,1);
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 321px;
  border-radius: 50%;
}
.v14_85 {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 318px;
  left: 24px;
  font-family: Inter;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  width: 200px !important;
}
.v14_212 {
  width: 7px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 394px;
  left: 26px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_213 {
  width: 9px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 424px;
  left: 25px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_214 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 454px;
  left: 24px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_215 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 484px;
  left: 24px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_216 {
  width: 9px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 513px;
  left: 24px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_217 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 395px;
  left: 204px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_218 {
  width: 9px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 425px;
  left: 205px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_219 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 454px;
  left: 204px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_220 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 484px;
  left: 204px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_221 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 513px;
  left: 201px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_128 {
  width: 167px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 363px;
  left: 112px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_127 {
  width: 98px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 568px;
  left: 146px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v14_136 {
  width: 14px;
  height: 23px;
  background: url("../images/v14_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 44px;
  overflow: hidden;
}
.v14_133 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_135 {
  width: 14px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_137 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 93px;
  overflow: hidden;
}
.v14_138 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_139 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_140 {
  width: 14px;
  height: 23px;
  background: url("../images/v14_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 140px;
  overflow: hidden;
}
.v14_141 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_142 {
  width: 14px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_146 {
  width: 15px;
  height: 23px;
  background: url("../images/v14_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 236px;
  overflow: hidden;
}
.v14_147 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_148 {
  width: 15px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_149 {
  width: 15px;
  height: 23px;
  background: url("../images/v14_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 284px;
  overflow: hidden;
}
.v14_150 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_151 {
  width: 15px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_152 {
  width: 14px;
  height: 23px;
  background: url("../images/v14_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 332px;
  overflow: hidden;
}
.v14_153 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_154 {
  width: 14px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_143 {
  width: 14px;
  height: 23px;
  background: url("../images/v14_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 188px;
  overflow: hidden;
}
.v14_144 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_145 {
  width: 14px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_155 {
  width: 15px;
  height: 23px;
  background: url("../images/v14_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 44px;
  overflow: hidden;
}
.v14_156 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_157 {
  width: 15px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_158 {
  width: 14px;
  height: 23px;
  background: url("../images/v14_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 93px;
  overflow: hidden;
}
.v14_159 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_160 {
  width: 14px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_161 {
  width: 15px;
  height: 23px;
  background: url("../images/v14_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 140px;
  overflow: hidden;
}
.v14_162 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_163 {
  width: 15px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_164 {
  width: 14px;
  height: 23px;
  background: url("../images/v14_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 236px;
  overflow: hidden;
}
.v14_165 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_166 {
  width: 14px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_167 {
  width: 12px;
  height: 23px;
  background: url("../images/v14_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 284px;
  overflow: hidden;
}
.v14_168 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_169 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_170 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 332px;
  overflow: hidden;
}
.v14_171 {
  width: 8px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_172 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_173 {
  width: 15px;
  height: 23px;
  background: url("../images/v14_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 188px;
  overflow: hidden;
}
.v14_174 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_175 {
  width: 15px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_176 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 44px;
  overflow: hidden;
}
.v14_177 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_178 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_197 {
  width: 14px;
  height: 23px;
  background: url("../images/v8_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 44px;
  overflow: hidden;
}
.v14_198 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_199 {
  width: 14px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_179 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 93px;
  overflow: hidden;
}
.v14_180 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_181 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_182 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 140px;
  overflow: hidden;
}
.v14_183 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_184 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_185 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 236px;
  overflow: hidden;
}
.v14_186 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_187 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_188 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 284px;
  overflow: hidden;
}
.v14_189 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_190 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_191 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 332px;
  overflow: hidden;
}
.v14_192 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_193 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_194 {
  width: 13px;
  height: 23px;
  background: url("../images/v14_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 188px;
  overflow: hidden;
}
.v14_195 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_196 {
  width: 13px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v14_222 {
  width: 15px;
  background: url("../images/v14_222.png");
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 33px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_225 {
  width: 15px;
  background: url("../images/v14_225.png");
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 33px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_226 {
  width: 15px;
  background: url("../images/v14_226.png");
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 33px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_227 {
  width: 15px;
  background: url("../images/v14_227.png");
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 33px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_228 {
  width: 15px;
  background: url("../images/v14_228.png");
  opacity: 1;
  position: absolute;
  top: 521px;
  left: 33px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_229 {
  width: 15px;
  background: url("../images/v14_229.png");
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 213px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_230 {
  width: 15px;
  background: url("../images/v14_230.png");
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 213px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_231 {
  width: 15px;
  background: url("../images/v14_231.png");
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 213px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_232 {
  width: 15px;
  background: url("../images/v14_232.png");
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 213px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
.v14_233 {
  width: 15px;
  background: url("../images/v14_233.png");
  opacity: 1;
  position: absolute;
  top: 521px;
  left: 213px;
  border: 1.25px solid rgba(255,255,255,1);
  transform: rotate(-90deg);
}
